//--//--//
//--//--//
//--//--//

// body grid
.mainGrid {
  display: grid;
  grid-template-rows: auto 20% auto 20% auto 20% auto;
  grid-template-columns: auto 50% auto;
  align-items: center;
  align-content: center;

  .mGitem-2 {
    grid-column: 2;
    grid-row: 2;
    background: aqua;
  }

  .mGitem-3 {
    grid-column: 2;
    grid-row: 3;
  }

  .mGitem-4 {
    grid-column: 2;
    grid-row: 4;
  }

  .mGitem-5 {
    grid-column: 2;
    grid-row: 5;
  }

  .mGitem-6 {
    grid-column: 2;
    grid-row: 6;
    background: red;
  }
}

// grid-ception, child grids for players
.playerGrid {
  display: grid;
  grid-template-rows: auto 33% auto;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-items: center;
  align-items: center;

  .item-1 {
    grid-row: 2;
    grid-column: 1;
  }

  .item-2 {
    grid-row: 2;
    grid-column: 2;
  }

  .item-3 {
    grid-row: 2;
    grid-column: 3;
  }

  .item-4 {
    grid-row: 2;
    grid-column: 4;
  }
  .item-5 {
    grid-row: 2;
    grid-column: 5;
  }
}

// grid etc for menu
.menuGrid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto 33% auto;
  grid-template-columns: auto 25% 25% 25% auto;

  .menu-item-1 {
    grid-column: 2
  }
  .menu-item-2 {
    grid-column: 3;
  }
  .menu-item-3 {
    grid-column: 4;
  }
}