/*
 * INDIVIDUAL FONT STYLES
 */
.boldness {
  font-weight: bold; }

.centerness {
  text-align: center; }

.line-through {
  text-decoration: line-through; }

/**/
/*
 * Invisible/ visible toggle classes
 */
.invisible {
  opacity: 0; }

.visible {
  opacity: 100%;
  transition: ease-in all 0.4s; }

/***/
.mainGrid {
  display: grid;
  grid-template-rows: auto 20% auto 20% auto 20% auto;
  grid-template-columns: auto 50% auto;
  align-items: center;
  align-content: center; }
  .mainGrid .mGitem-2 {
    grid-column: 2;
    grid-row: 2;
    background: aqua; }
  .mainGrid .mGitem-3 {
    grid-column: 2;
    grid-row: 3; }
  .mainGrid .mGitem-4 {
    grid-column: 2;
    grid-row: 4; }
  .mainGrid .mGitem-5 {
    grid-column: 2;
    grid-row: 5; }
  .mainGrid .mGitem-6 {
    grid-column: 2;
    grid-row: 6;
    background: red; }

.playerGrid {
  display: grid;
  grid-template-rows: auto 33% auto;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-items: center;
  align-items: center; }
  .playerGrid .item-1 {
    grid-row: 2;
    grid-column: 1; }
  .playerGrid .item-2 {
    grid-row: 2;
    grid-column: 2; }
  .playerGrid .item-3 {
    grid-row: 2;
    grid-column: 3; }
  .playerGrid .item-4 {
    grid-row: 2;
    grid-column: 4; }
  .playerGrid .item-5 {
    grid-row: 2;
    grid-column: 5; }

.menuGrid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto 33% auto;
  grid-template-columns: auto 35% 20% 35% auto; }
  .menuGrid .menu-item-1 {
    grid-column: 2; }
  .menuGrid .menu-item-2 {
    grid-column: 3; }
  .menuGrid .menu-item-3 {
    grid-column: 4; }

.counter-grid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto 25% 25% 25% auto; }
  .counter-grid .counter-item-2 {
    grid-column: 2; }
  .counter-grid .counter-item-3 {
    grid-column: 3; }
  .counter-grid .counter-item-4 {
    grid-column: 4; }

/* Global styling*/
* {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Germania One', cursive; }

/* selectors for + - buttons and score <p> tags */
button, p {
  display: inline;
  text-align: center; }

/* + - button styling */
button {
  height: 3em;
  width: 3em;
  border-radius: 50%; }

/*////////////////
// MENU BUTTON //
//////////////*/
#button {
  width: 25px;
  z-index: 1;
  padding: 2px 15px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.5s; }
  #button .line {
    margin: 0.25em 0;
    border-radius: 3px;
    width: 100%;
    height: 3px;
    background: black;
    display: block;
    transition: ease-out all 0.3s; }
  #button:hover {
    background: black;
    border-radius: 25%; }
    #button:hover .line {
      background: white; }
  #button:active {
    border-radius: 50%; }

/*////////////////////
// END MENU BUTTON //
//////////////////*/
li {
  list-style-type: none;
  display: inline-block;
  border: 1px solid black;
  cursor: pointer; }

.menu li {
  padding: 0.2em;
  margin: 0.2em;
  min-width: 1em;
  text-align: center; }

#poison {
  transition: ease-out all 0.3s; }
  #poison:hover {
    background: black;
    color: green; }
  #poison:active {
    background: white;
    color: green; }

#energy {
  transition: ease-out all 0.3s; }
  #energy:hover {
    background: black;
    color: yellow; }
  #energy:active {
    background: white;
    color: yellow; }

.rainbow:hover, .rainbow:active {
  -webkit-animation: rainbow 3s infinite;
  animation: rainbow 3s infinite; }

@keyframes rainbow {
  0% {
    color: #ff0000; }
  10% {
    color: #ff8000; }
  20% {
    color: #ffff00; }
  30% {
    color: #80ff00; }
  40% {
    color: #00ff00; }
  50% {
    color: #00ff80; }
  60% {
    color: #00ffff; }
  70% {
    color: #0080ff; }
  80% {
    color: #0000ff; }
  90% {
    color: #8000ff; }
  100% {
    color: #ff0080; } }
@-webkit-keyframes rainbow {
  0% {
    color: #ff0000; }
  10% {
    color: #ff8000; }
  20% {
    color: #ffff00; }
  30% {
    color: #80ff00; }
  40% {
    color: #00ff00; }
  50% {
    color: #00ff80; }
  60% {
    color: #00ffff; }
  70% {
    color: #0080ff; }
  80% {
    color: #0000ff; }
  90% {
    color: #8000ff; }
  100% {
    color: #ff0080; } }

/*# sourceMappingURL=style.css.map */
